<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyperledger.api.mapper.ApiMapper">


    <select id="getFdsVrfcInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT 
        	PROC_CD 
        FROM 
        	T_FDS_VRFC_INFO
    </select>
    
    <select id="getSetlMeanOtcIssuInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT 
        	OTC 
        FROM 
        	T_SETL_MEAN_OTC_ISSU_INFO 
        WHERE 
        	CRD_ID = #{crdId} 
        	AND CUST_NO = #{custNum}
    </select>
	 
    <select id="getSetlApvReqInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT 
        	RSPS_CD 
        FROM 
        	T_SETL_APV_REQ_INFO 
        WHERE 
        	OTC = #{otc} 
    </select>
	 
 	<insert id="getSeqApvNum" parameterType="java.util.HashMap">
		INSERT INTO T_SEQ_APVNUM(title) VALUES('title'); 
		<selectKey keyProperty="seq" resultType="java.lang.Integer" order="AFTER">
		    SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
 	<insert id="getSeqCanApvNum" parameterType="java.util.HashMap">
		INSERT INTO T_SEQ_CANAPVNUM(title) VALUES('title'); 
		<selectKey keyProperty="seq" resultType="java.lang.Integer" order="AFTER">
		    SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="getSeqTrscUniqNum" parameterType="java.util.HashMap">
		INSERT INTO T_SEQ_TRSCUNIQNUM(title) VALUES('title'); 
		<selectKey keyProperty="seq" resultType="java.lang.Integer" order="AFTER">
		    SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

</mapper>